﻿@{
    ViewBag.Title = "Index";
}

<h2>Pagina de deportes</h2>
<h1>@ViewBag.deporte </h1>


@using (Html.BeginForm())
{
    <p>
        Deporte: @Html.TextBox("valor")
        <input type="submit" value="Buscar" />
    </p>
    
    
}

